h1{
    text-align: center;
}
div{
    justify-content: center; /* 자식 요소들을 수평으로 가운데 정렬 */
    text-align: center;
    gap: 10px; /* 이미지 사이의 간격 설정 */
}
.card{
    float: left; padding: 10px; width: 30%;
    text-align: center; 
} 
img{
    width: 100%; height: 200px; display: block;
    object-fit: cover; /*이미지가 잘리지 않고 크기에 맞게 조정*/
}